<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="footer-brand-wrapper">
          <a href="/home" class="logo">
            <img src="./assets/images/logo.svg" alt="Filmlane logo" />
          </a>

          <ul class="footer-list">
            <li>
              <a href="/home" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#" class="footer-link">Movies</a>
            </li>
            <li>
              <a href="#" class="footer-link">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="divider"></div>

        <div class="footer-bottom">
          <div class="container">
            <p class="copyright">
              &copy; 2022 <a href="#">Filmlane</a>. All Rights Reserved
            </p>
    
            <img
              src="./assets/images/footer-bottom-img.png"
              alt="Online banking companies logo"
              class="footer-bottom-img"
            />
          </div>
        </div>
      </div>
    </div>  
    </footer>
    <script src="/assets/js/script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
